body{
    display: flex;
    background: #1E88E5;
}
section {
    background: white;
    border-radius: 10px;
}
.container{
    display: flex;
    width: 100%;
    max-width:1264px;
    gap: 20px;
}
.drawing-board{
    flex: 1;
    border-radius: 10px;
}
img{
    width: 30px;

}
.tools-board{
    display: flex;
    text-align: justify;
    text-size-adjust: auto;
    padding: 15px;
}

.row .options{
    list-style: None;
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
}