body{
    display: flex;
    background: #1E88E5;
}
section {
    background: white;
    border-radius: 10px;
}
.container {
    display: flex;
    width: 100%;
    height: 90%;
    max-width: 1264px;
    gap: 20px;
    margin-top: 70px;
    margin-left: 40px;
}

.drawing-board{
    flex: 1;
    border-radius: 10px;
}

img{
    width: 30px;

}

.tools-board {
    display: flex;
    flex-direction: column;
    padding: 50px;

}

.row .options {
    list-style: none;
    margin: 5px 0;
    padding: 10px 15px;
}

.drawing-board canvas{
    width: 100%;
    height: 100%;
}

.colorcontainer {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
}
.colorcontainer > input[type='color'] {
    opacity: 1;
    width: 160px;
    height: 160px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #0000001A;
    padding: 0;
    margin: -30px 0 0 -30px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.clear-button {
    background-color: #e58e37;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.save-button {
    background-color: #1E88E5;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.save-draft-button {
    background-color: #854ad0;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #da0d0d;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}
.save-draft-button:hover{
    background-color: #854ad0;
}
.save-button:hover{
    background-color: #1E88E5;
}

.clear-button:hover {
    background-color: #e58e37;
}

.delete-button:hover {
    background-color: #da0d0d;
}

.save-button:active,
.delete-button:active,
.save-draft-button,
.clear-button:active {
    position: relative;
    top: 1px;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #5b5858;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.top-bar button {
    background-color: #1E88E5;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 40px;
}

.side-column {
    display: none;
    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 50px;
    right: -200px;
    transition: right 0.3s ease;
}


.side-column.show {
    display: block;
    width: 200px;
    height: 100%;
    background-color: #5b5858;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 50px;
    transition: margin-right 2.0s ease;
}

.side-column h2 {
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
}

.delete-icon {
    cursor: pointer;
    top: 50%;
    margin-right: 6100px;
    color: #e10d0d;
    font-size: 15px;
    font-weight: bold;
}


.delete-icon:hover {
    color: #e10d0d;
}

.side-column ul {
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
}


